{% extends 'base.html.twig' %}

{% block title %}Edit Jurisdiction{% endblock %}

{% block body %}
    <h1>Edit Jurisdiction</h1>

    {{ include('jurisdiction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('jurisdiction_index') }}">back to list</a>

    {{ include('jurisdiction/_delete_form.html.twig') }}
{% endblock %}
